---
title: About
description: Pavol Mikuláš is a cross disciplinary designer, creator of Walnut table, Carafe and water glass ONA and White chair.
permalink: /about/
layout: default
published: true
group: about
lang: en
language: English
og-locale: en_US
order: 1
og-image: pavol-mikulas-designer-2017-w1000.jpg
---
<div class="fouc p15 pd3 cpt">
  <div class="crl">

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="pavol-mikulas-lego-1980s-1by1" alt="Lego" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="pavol-mikulas-my-first-hammer-1980s-1by1" alt="my first hammer" %}
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="pavol-mikulas-shoes-prototype-1992-1by1" alt="shoe prototype" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="granddad-wood-working-machine-1by1" alt="Grandad’s woodworking machine" %}
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="olgoj-chorchoj-studio-2007-1by1" alt="Olgoj Chorchoj studio" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="pavol-mikulas-designer-2017" alt="Pavol Mikuláš designer" %}
      </div>
    </div>

  </div>
</div>

<main class="fouc p15 pd3">
  <div class="crs">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>

        <p>I am cross disciplinary designer, who believes that human-centered design can make our planet a better place to live. I believe in the power of positive thinking and concentration on user. I have a strong aesthetic sensibility, technical education and experience in manufacturing technologies. I am a design thinker for whom each project is searching for an answer to the right question.</p>
        <p>In 2005 I became a member of <a target="_blank" href="http://www.olgojchorchoj.cz/">Olgoj Chorchoj</a> design studio where I was responsible for a number of projects, including the design for Olgoj Chorchoj’s 2005 Designblok exhibition, the <a href="/work/carafe-and-water-glass-ona/">Carafe and water glass</a> design made by <a target="_blank" href="http://www.moravskesklarny.cz/">Moravian Glassworks Květná</a>, the web code and design for Olgoj Chorchoj’s website, and the 2006 Design of <a target="_blank" href="http://www.pilsnerurquell.com/">Pilsner Urquell</a> photo award <a href="/work/pilsner-urquell-photo-award-trophy/">trophy</a>.</p>

        <p>In 2008 I attended a workshop on the <a target="_blank" href="http://www.scuoladesign.com/">Scuola Politecnica di Design</a> in Milan in collaboration with <a target="_blank" href="http://www.alessi.com/">Alessi</a> under the direction of <a target="_blank" href="http://www.guixe.com/">Marti Guixe</a> and <a target="_blank" href="http://www.jackbrandsma.com/">Jack Brandsma</a>.</p>
        <p>In 2009 I served a six months internship at <a target="_blank" href="http://www.vw.com/">Volkswagen</a>, Wolfsburg, Germany, in the department for research and development.</p>

        <p>In 2012 I founded the design studio <a target="_blank" href="http://www.vyvojka.com/">Vývojka</a>. My clients include <a target="_blank" href="http://www.skoda-auto.com/">Škoda Auto</a>, <a target="_blank" href="http://www.prim.cz/">Prim</a>, <a target="_blank" href="http://www.dzd.cz/">DZ Dražice</a>, <a target="_blank" href="https://www.slsp.sk/">Slovenská sporiteľňa</a>, <a target="_blank" href="https://www.eset.com/">Eset</a> and <a target="_blank" href="https://www.repello.cz/">Re pello</a>.</p>
        <p>I live and work in Bratislava with my wife <a target="_blank" href="http://www.evamikulasova.com/">Eva</a> and daughters Margareta and Milota.</p>

      </div>
    </div>

  </div>
</main>
