---
title: About
subtitle: Designer
description: Pavol Mikuláš is a cross-disciplinary designer, creator of Walnut table, Carafe and water glass ONA and White chair.
permalink: /about/
layout: default
published: true
group: about
lang: en
language: English
og-locale: en_US
order: 1
og-image: pavol-mikulas-designer-2017-w1000.jpg
---
<main class="px1">
  <div class="ctr">

    <div class="row pb2">
      <div class="col cd9 ofd3">
        <p class="h1 mw2">I’m tenacious, optimistic, quietly confident, and satisfied with excellence.</p>
        <p><a href="/work/">This is what I do →</a></p>
      </div>
    </div>

  </div>
</main>


<div class="px1">
  <div class="ctr">

    <div class="row pb1">
      <div class="col c6">
        {% include image50vw.html basename="pavol-mikulas-lego-1980s-1by1" alt="Lego" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="pavol-mikulas-my-first-hammer-1980s-1by1" alt="my first hammer" %}
      </div>
    </div>

    <div class="row pb1">
      <div class="col c6">
        {% include image50vw.html basename="sewing-machine-grandma-1990s-1by1" alt="grandma’s sewing machine" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="pavol-mikulas-shoes-prototype-1992-1by1" alt="shoe prototype" %}
      </div>
    </div>

    <div class="row pb2">
      <div class="col c6">
        {% include image50vw.html basename="granddad-wood-working-machine-1by1" alt="Grandad’s woodworking machine" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="olgoj-chorchoj-studio-2007-1by1" alt="Olgoj Chorchoj studio" %}
      </div>
    </div>

    <div class="row">
      <div class="col c6 cd4 ofd2">
        {% include image50vw.html basename="pavol-mikulas-designer-2017-circle" alt="Pavol Mikuláš designer" %}
      </div>
    </div>

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
        <p>I am a senior IC layout engineer at TDK.</p>
        <p>I am a member of the hardware team that develops high-performance digital microphones. I’m responsible for crafting tight matching, low-noise, and low-power analog blocks.</p>

        <p>I served a six months internship at the R&D of <a target="_blank" href="https://www.vw.com/">Volkswagen</a>, attended a workshop on the <a target="_blank" href="https://www.scuoladesign.com/">Scuola Politecnica di Design</a> in Milan, and received Slovak National Design Prize.</p>

        <p>I also spent two years with <a target="_blank" href="http://www.olgojchorchoj.cz/">Olgoj Chorchoj</a> studio as an industrial designer.</p>

        <p>I hold a doctorate in Art from the <a target="_blank" href="https://www.stuba.sk/english.html">Slovak University of Technology</a>.</p>

        <p>I live and work in Bratislava with my wife <a target="_blank" href="http://www.evamikulasova.com/">Eva</a> and daughters Margareta and Milota.</p>
      </div>
    </div>

  </div>
</div>
