---
title: Pavol Mikuláš
subtitle: designer
description: Pavol Mikuláš is a cross-disciplinary designer, who believes that human-centered design can make our planet a better place to live.
layout: default
published: true
group: index
lang: en
language: English
og-locale: en_US
og-image: pavol-mikulas-essence-2by1-w2000.jpg
order: 1
---
<main class="px1">
  <div class="ctr">

    <div class="row pb2">
      <div class="col cd9 ofd3">
        <p class="h1 mw2">I’m cross-disciplinary designer, thinker, and maker.</p>
        <p><a href="/about/">This is who I am →</a></p>
      </div>
    </div>

  </div>
</main>


{% include index-tiles-w100.html %}


<div class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}
          {% if page.subtitle %}<span class="h2 mt05">{{ page.subtitle }}</span>{% endif %}
        </h1>
        <p>I am a cross-disciplinary designer based in Bratislava, Slovakia.</p>
        <p>Companies hire me to define, ideate, prototype, produce, test, and validate products and brands.</p>
        <p>I am proud to work for Eset, DZ Dražice, and Re pello.</p>
        <p><a href="/work/">Read more about my work →</a></p>
      </div>
    </div>

  </div>
</div>
