---
title: Pavol Mikuláš
subtitle: designer
description: Pavol Mikuláš is a cross disciplinary designer, who believes that human-centered design can make our planet a better place to live.
layout: default
published: true
group: index
lang: en
language: English
og-locale: en_US
og-image: pavol-mikulas-essence-2by1-w2000.jpg
order: 1
---
{% include index-tiles-w100.html %}

<main class="fouc p15 pd3">
  <div class="crs">

    <div class="row">
      <div class="col cd10 ofd2">
        <a href="{{ site.baseurl }}/about/">
          <figure class="boy">
            {% include image25-50vw.html basename="pavol-mikulas-designer-2017-circle" alt=site.title %}
            <figcaption class="pt05 pb175">About →</figcaption>
          </figure>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col cd9 ofd3">

        <h1 class="h1 mb05">{{ page.title }}</h1>
        {% if page.subtitle %}<h2 class="h2 mt05">{{ page.subtitle }}</h2>{% endif %}

        <p>I am a cross-disciplinary designer, who believes that human-centered design can make our planet a better place to live.</p>
        <p>I believe in the power of positive thinking and concentration on a user.</p>
      </div>
    </div>

  </div>
</main>
