<div class="fouc db p15 pd3">
  <div class="crl">

  {% assign pages = site.pages | sort: 'order' | reverse %}

  {% comment %} Count pages {% endcomment %}
  {% assign i = 0 %}
  {% for p in pages %}
    {% if p.group == "project" %}
      {% if p.lang == page.lang and p.label and p.thumbnail and p.index_tile != false %}
        {% assign i = i | plus: 1 %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% assign is = i | minus: 1 %}

  {% comment %} Loop through pages {% endcomment %}
  {% assign j = 0 %}
  {% for p in pages %}
    {% if p.group == "project" %}
      {% if p.lang == page.lang and p.label and p.thumbnail and p.index_tile != false %}

        {% assign mod = j | modulo: 2 %}

        {% if mod == 0 and  j > 1 %}
            {% comment %} modulo row end {% endcomment %}
            </div>
        {% endif %}

        {% if mod == 0 %}
            {% comment %} modulo row start {% endcomment %}
            <div class="row">
        {% endif %}

          <div class="col c6">
            <a href="{{ p.url | prepend: site.baseurl }}">
              <figure>
                {% include image50vw.html basename=p.thumbnail alt=p.title %}
                <figcaption class="cdcr">{{ p.label }} →</figcaption>
              </figure>
            </a>
          </div>

        {% if j == is %}
            {% comment %} modulo last row end {% endcomment %}
            </div>
        {% endif %}

        {% assign j = j | plus: 1 %}

      {% endif %}
    {% endif %}
  {% endfor %}

  </div>
</div>
