---
title: Biela stolička
label: Biela stolička
subtitle: Jednoduchá stolička z bukového dreva
description: Biela stolička z ohýbaného bukového dreva patrí k Orechovému stolu. Navrhol ju multidisciplinárny dizajnér Pavol Mikuláš v roku 2008.
permalink: /sk/prace/biela-stolicka/
layout: default
published: true
group: project
lang: sk
language: Slovensky
og-locale: sk_SK
thumbnail: white-chair-1by1
image: white-chair-2by1
og-image: white-chair-2by1-w2000.jpg
order: 2
index_tile: true
work_tile: true
---
<div class="ctr pb2">

  <div class="row">
    <div class="col">
      {% include image100vw.html basename="white-chair-2by1" alt="Biela stolička" %}
    </div>
  </div>

</div>


<div class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="white-chair-sketch-1by1" alt="skica Bielej stoličky" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="white-chair-parts-1by1" alt="časti Bielej stoličky" %}
      </div>
    </div>

  </div>
</div>


<main class="p1">
  <div class="ctr">

    <div class="row pb05">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
      </div>
    </div>

    <div class="row pb1">
      <div class="col c6 cd5 ofd3">
        {% include image50vw.html basename="white-chair-drawing-4by3" alt="Biela stolička výkres" %}
      </div>
    </div>

    <div class="row">
      <div class="col cd9 ofd3">
        <p>V roku 2008 som navrhol k <a href="/sk/prace/orechovy-stol/">Orechovému stolu</a> jednoduchú bielu stoličku z ohýbaného bukového dreva.</p>
        <p>Chcel som vytvoriť nenápadnú, tichú stoličku, ktorá nechá stôl zažiariť.</p>
        <p>Stolička bola vystavená na výstave <a target="_blank" href="http://www.designblok.cz/">Designblok</a> v roku 2008.</p>
      </div>
    </div>

  </div>
</main>


{% include highlight-tiles.html %}
