---
title: Hodinky Škoda Auto
label: Hodinky Škoda
subtitle: Podpora značky Škoda Auto
description: Hodinky pre Škoda Auto navrhol v roku 2007 dizajnér Pavol Mikuláš. Vyrába Prim, ELTON hodinářská, a.s.
permalink: /sk/prace/hodinky-skoda-auto/
layout: default
published: true
group: project
lang: sk
language: Slovensky
og-locale: sk_SK
thumbnail: skoda-auto-wristwatches-man-in-car-1by1
image: skoda-auto-wristwatches-production-woman-2by1
og-image: skoda-auto-wristwatches-man-sketch-2by1-w2000.jpg
order: 6
index_tile: true
work_tile: true
---
<div class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="skoda-auto-wristwatches-woman-colored-sketch-1by1" alt="Hodinky Škoda Auto ženské skica" %}
      </div>
      <div class="col c6">
       {% include image50vw.html basename="skoda-auto-wristwatches-man-sketch-1by1" alt="Hodinky Škoda Auto mužské skica" %}
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="skoda-auto-wristwatches-woman-1by1" alt="Hodinky Škoda Auto ženské" %}
      </div>
      <div class="col c6">
       {% include image50vw.html basename="skoda-auto-wristwatches-man-visualization-1by1" alt="Hodinky Škoda Auto mužské vizualizácia" %}
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="skoda-auto-wristwatches-production-woman-1by1" alt="Hodinky Škoda Auto ženské výroba" %}
      </div>
      <div class="col c6">
       {% include image50vw.html basename="skoda-auto-wristwatches-production-man-1by1" alt="Hodinky Škoda Auto mužské výroba" %}
      </div>
    </div>

    <div class="row py2">
      <div class="col">
        {% include image100vw.html basename="skoda-auto-wristwatches-woman-in-box-2by1" alt="Hodinky Škoda Auto ženské výroba" %}
      </div>
    </div>

    <div class="row">
      <div class="col c6">
       {% include image50vw.html basename="skoda-auto-wristwatches-man-in-car-1by1" alt="Hodinky Škoda Auto mužské" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="skoda-auto-wristwatches-woman-in-car-1by1" alt="Hodinky Škoda Auto ženské" %}
      </div>
    </div>

  </div>
</div>


<main class="p1">
  <div class="ctr">

    <div class="row pb05">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
      </div>
    </div>

    <div class="row pb1">
      <div class="col c6 cd4 ofd3">
        {% include image50vw.html basename="skoda-auto-wristwatches-drawing-4by3" alt="Hodinky Škoda Auto výkres" %}
      </div>
    </div>

    <div class="row">
      <div class="col cd9 ofd3">
        <p>Použitím tých istých postupov ako pri navrhovaní automobilov som sa snažil dosiahnuť jednoznačnú spojitosť hodiniek a automobilov značky <a target="_blank" href="http://www.skoda-auto.com/">Škoda Auto</a>. Navrhovanie množstva verzií, výber jednej z nich a jej následné rozpracovanie je typické pre postupy v automobilovom dizajne.</p>
        <p>Cieľom hodiniek je podpora predaja áut a podpora samotnej značky Škoda.</p>
        <p>Inšpiroval ma tachometer Škoda áut a výrobné technológie výrobcu hodiniek.</p>
        <p>Hodinky Škoda Auto vyrába <a target="_blank" href="http://www.prim.cz/">Prim</a>.</p>
      </div>
    </div>

  </div>
</main>


{% include highlight-tiles.html %}
