---
title: Práce
description: Výber projektov z portfólia multidisciplinárneho dizajnéra Pavla Mikuláša, pre klientov ako sú Škoda Auto, Pilsner Urquell a Re pello. Príjemný zážitok prajem.
permalink: /sk/prace/
layout: default
published: true
group: work
children: project
lang: sk
language: Slovensky
og-locale: sk_SK
og-image: pavol-mikulas-work-tiles-2by1-w2000.jpg
order: 2
---
{% include work-tiles.html %}

<main class="fouc p15 pd3">
  <div class="crs">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
        {% if page.subtitle %}<h2 class="h2">{{ page.subtitle }}</h2>{% endif %}

        <p>Nájdete tu vybrané projekty pre klientov ako sú <a target="_blank" href="http://www.skoda-auto.com/">Škoda Auto</a>, <a target="_blank" href="http://www.pilsnerurquell.com/">Pilsner Urquell</a> a <a target="_blank" href="https://www.repello.cz/">Re pello</a>.</p>

      </div>
    </div>

  </div>
</main>
