---
title: Karafa a pohár na vodu Ona
label: Ona
subtitle: Karafa na nočný stolík
description: Dizajn karafy a pohára na vodu Ona vytvoril v roku 2005 multidisciplinárny dizajnér Pavol Mikuláš. V rôznych farbách skla ju vyrábajú a predávajú Moravské Sklárny Květná.
permalink: /sk/prace/karafa-pohar-na-vodu-ona/
layout: default
published: true
group: project
lang: sk
language: Slovensky
og-locale: sk_SK
thumbnail: carafe-and-water-glass-ona-1by1
image: carafe-and-water-glass-ona-colors-2by1
og-image: carafe-and-water-glass-ona-colors-2by1-w2000.jpg
order: 3
index_tile: true
work_tile: true
---
<div class="fouc p15 pd3 cpt">
  <div class="crl">

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="carafe-and-water-glass-ona-sketch-photo-2by1" alt="Karafa a pohár na vodu Ona skica a fotka" %}
        {% include image100vw.html basename="moravian-glassworks-kvetna-floor-production-2by1" alt="Moravské Sklárny Květná" %}
      </div>
    </div>

  </div>
</div>

<main class="fouc p15 pd3">
  <div class="crs">

    <div class="row">
      <div class="col cd9 ofd3">
        <img class="imgf py15" alt="Karafa a pohár na vodu Ona výkres" src="{{ site.baseurl }}/img/carafe-and-water-glass-ona-drawing.png"/>

        <h1 class="h1">{{ page.title }}</h1>

        <p>Karafa a pohár na vodu sú určené na nočný stolík, čomu odpovedá aj objem karafy 0.5 litra.</p>
        <p>Chcel som karafu neuveriteľne tenkú, <a target="_blank" href="http://www.lobmeyr.at/">Lobmayerovsky</a> tenkú až imaginárnu.</p>
        <p>Karafu Ona som navrhol počas môjho pôsobenia v ateliéri <a target="_blank" href="http://www.olgojchorchoj.cz/">Olgoj Chorchoj</a> v roku 2005.</p>
        <p>V rôznych farbách skla ju vyrábajú a predávajú <a target="_blank" href="http://www.moravskesklarny.cz/">Moravské Sklárny Květná</a>.</p>

      </div>
    </div>

  </div>
</main>

{% include highlight-tiles.html %}
