---
title: Kožená kolekcia Škoda Auto
label: Kožená kolekcia
subtitle: Kolekcia peňaženiek, manikúry a kľúčenky
description: Koženú kolekciu peňaženiek, manikúry a kľúčenky pre Škoda Auto navrhol v roku 2007 multidisciplinárny dizajnér Pavol Mikuláš. Vyrába Uniko.
permalink: /sk/prace/kozena-kolekcia-skoda-auto/
layout: default
published: true
group: project
lang: sk
language: Slovensky
og-locale: sk_SK
thumbnail: skoda-auto-leather-collection-man-1by1
image: skoda-auto-leather-collection-2by1
og-image: skoda-auto-leather-collection-2by1-w2000.jpg
order: 7
index_tile: false
work_tile: true
---
<div class="fouc p15 pd3 cpt">
  <div class="crl">

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="skoda-auto-leather-collection-2by1" alt="Kožená kolekcia Škoda Auto" %}
        {% include image100vw.html basename="skoda-auto-leather-collection-illustration-2by1" alt="Kožená kolekcia Škoda Auto ilustrácia" %}
      </div>
    </div>

  </div>
</div>

<main class="fouc p15 pd3">
  <div class="crs">

    <div class="row">
      <div class="col cd9 ofd3">
        <img class="imgf py15" alt="Kožená kolekcia Škoda Auto výkres" src="{{ site.baseurl }}/img/skoda-auto-leather-collection-drawing.png" />

        <h1 class="h1">{{ page.title }}</h1>

        <p>Koženú kolekciu peňaženiek, manikúry a kľúčenky pre Škoda Auto som navrhol v roku 2007.</p>
        <p>Bolo mi cťou pracovať pre Škoda Auto, známeho výrobcu automobilov, jedného z najstarších na svete.</p>
        <p>Ďakujem výrobcovi, spoločnosti <a target="_blank" href="http://www.uniko.eu/">Uniko</a> za to, že pozitívnym myslením a "to pude" postojom pomohla tomuto návrhu ožiť.</p>

      </div>
    </div>

  </div>
</main>

{% include highlight-tiles.html %}
