---
title: Re pello a Model J
label: Model J
subtitle: Re pello značka a detské odrážadlo Model J
description: Korporátny dizajn značky Re pello a dizajn celo-odpruženého detského odrážadla Model J. Vystavené na výstave Designblok 2015 v Prahe.
permalink: /sk/prace/re-pello-model-j/
layout: default
published: true
group: project
lang: sk
language: Slovensky
og-locale: sk_SK
thumbnail: re-pello-model-j-red-athlete-1by1
image: re-pello-model-j-red-athlete-2by1
og-image: re-pello-model-j-milan-dancing-2by1-w2000.jpg
order: 10
sitemap:
  priority: 1
index_tile: true
work_tile: true
class: mj
---
<main class="fouc px15 pxd3 cpt">

  <div class="crl">
    <div class="row">
      <div class="col">
        {% include image100vw.html basename="re-pello-model-j-milan-dancing-2by1" alt="Re pello Model J Miláno edícia" %}
      </div>
    </div>
  </div>

  <div class="crs">
    <div class="row py3 pyd5">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
        <p>Korporátny dizajn značky <a target="_blank" href="https://www.repello.cz/">Re pello</a> a dizajn dreveného, celo-odpruženého detského odrážadla Model J.</p>
      </div>
    </div>
  </div>

</main>

<div class="fouc pxb15 pxbd3">

  <div class="crl">
    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="re-pello-exhibition-milan-2017-1by1" alt="Re pello Model J na výstave Salone del Mobile 2017 v Miláne" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="re-pello-exhibition-milan-edition-2017-1by1" alt="Re pello Model J na výstave Salone del Mobile 2017 v Miláne" %}
      </div>
    </div>
  </div>

  <div class="crs">
    <div class="row py3 pyd5">
      <div class="col cd9 ofd3">
        <p><a target="_blank" href="https://www.repello.cz/">Re pello</a> Model J bol vystavený na <a target="_blank" href="https://www.salonemilano.it/">Salone del Mobile</a> 2017 v Miláne.</p>
      </div>
    </div>
  </div>

  <div class="crl">
    <div class="row">
      <div class="col">
        {% include image100vw.html basename="re-pello-exhibition-festivalmini-2017-2by1" alt="Re pello na festivale mini 2017" %}
      </div>
    </div>
  </div>

  <div class="crs">
    <div class="row py3 pyd5">
      <div class="col cd9 ofd3">
        <p><a target="_blank" href="https://www.repello.cz/model-j/">Model J</a> na <a target="_blank" href="http://festivalmini.cz/">festivale mini</a> v Prahe.</p>
      </div>
    </div>
  </div>

  <div class="crl">
    <div class="row">
      <div class="col">
        {% include image100vw.html basename="re-pello-model-j-red-athlete-2by1" alt="Re pello Model J červený" %}
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="re-pello-model-j-production-1-1by1" alt="Re pello Model J výroba" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="re-pello-exhibition-designblok-2016-1by1" alt="Dizajn výstav Re pello" %}
      </div>
    </div>
  </div>

  <div class="crs">
    <div class="row py3 pyd5">
      <div class="col cd9 ofd3">
        <p>Výroba odrážadla a výstava <a target="_blank" href="http://www.designblok.cz/">Designblok</a> v roku 2016.</p>
      </div>
    </div>
  </div>

  <div class="crl">
    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="re-pello-logo-design-1by1" alt="Re pello logo dizajn" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="re-pello-strapline-1by1" alt="Re pello slogan" %}
      </div>
    </div>
  </div>

  <div class="crs">
    <div class="row py3 pyd5">
      <div class="col cd9 ofd3">
        <p>Logo dizajn a slogan Moving happily.</p>
      </div>
    </div>
  </div>

  <div class="crl">
    <div class="row">
      <div class="col">
        {% include image100vw.html basename="re-pello-business-cards-color-combinations-2by1" alt="Re pello korporátny dizajn" %}
      </div>
    </div>
  </div>

  <div class="crs">
    <div class="row py3 pyd5">
      <div class="col cd9 ofd3">
        <p>Vizitky a farebné kombinácie.</p>
      </div>
    </div>
  </div>

  <div class="crl">
    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="re-pello-model-j-manual-1-1by1" alt="Re pello Model J manuál" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="re-pello-model-j-package-design-1by1" alt="Re pello Model J obal" %}
      </div>
    </div>
  </div>

  <div class="crs">
    <div class="row py3 pyd5">
      <div class="col cd9 ofd3">
        <p>Model J manuál a krabica.</p>
      </div>
    </div>
  </div>

  <div class="crs">
    <div class="row">
      <div class="col cd9 ofd3">
        {% if page.subtitle %}<h2 class="h2">{{ page.subtitle }}</h2>{% endif %}

        <img class="imgf py15" alt="Re pello Model J výkres" src="{{ site.baseurl }}/img/re-pello-model-j-drawing-2by1-w600.jpg" />

        <p><a target="_blank" href="https://www.repello.cz/model-j/">Model J</a> je celoodpružené odrážadlo pre deti. Je vyrobené z vysokopevnostnej brezovej preglejky. Jednotlivé diely sú zlepené vodeodolným lepidlom a nalakované v dvoch vrstvách netoxickou farbou, alebo priesvitným lakom. Má nízku hmotnosť, je ľahko zostaviteľné a jednoducho ovládateľné.</p>
        <p>Ako jediné na trhu je odrážadlo Model J celoodpružené patentovaným systémom LVS. Systém odpruženia vytvoril Jiří Marján, ktorý Model J vyrába pod značkou <a target="_blank" href="https://www.repello.cz/">Re pello</a> v Českej republike.
  Vďaka odpruženiu predného i zadného kolesa sú výrazným spôsobom redukované vibrácie, ktoré vznikajú pri jazde po akomkoľvek povrchu, a ktoré majú negatívny vplyv na zdravie dieťaťa.</p>
        <p>Odrážadlo je vhodné pre deti od 1,5 do 4 rokov. Spĺňa požiadavky európskej normy EN71 pre bezpečnosť hračiek, podľa ktorej je otestované nezávislou skúšobňou ITC v Zlíne.</p>
        <p>Re pello Model J bolo vystavené na výstave <a target="_blank" href="http://www.designblok.cz/">Designblok</a> 2015, <a target="_blank" href="http://www.designblok.cz/">Designblok</a> 2016 v Prahe a na veľtrhu nábytku <a target="_blank" href="https://www.salonemilano.it/">Salone del Mobile</a> 2017 v Miláne.</p>
        <p>Drevené celoodpružené odrážadlo Model J je výnimočné svojou funkčnosťou aj dizajnom. Podporuje zdravý vývoj detí, učí ich rešpektu k prírode a prináša radosť z jazdy.</p>

      </div>
    </div>
  </div>

</div>

{% include highlight-tiles.html %}
