---
title: Orechový stôl
label: Orechový stôl
subtitle: Nábytkový dizajn
description: Jedálenský stôl z orechového dreva stelesňuje môj vzťah k drevu, je vyjadrením mojich spomienok na detstvo prežité v stolárskej dielni starého otca.
permalink: /sk/prace/orechovy-stol/
layout: default
published: true
group: project
lang: sk
language: Slovensky
og-locale: sk_SK
thumbnail: walnut-table-1by1
image: walnut-table-2by1
og-image: walnut-table-2by1-w2000.jpg
order: 1
sitemap:
  priority: 1
index_tile: true
work_tile: true
---
<div class="ctr">
  <div class="ctr">

    <div class="row pb1">
      <div class="col">
        {% include image100vw.html basename="walnut-table-2by1" alt="Orechový stôl" %}
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="walnut-table-sketch-4by3" alt="Orechový stôl skica" %}
      </div>
    </div>

  </div>
</div>


<main class="pxb1">
  <div class="ctr">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
      </div>
    </div>

    <div class="row pb1">
      <div class="col c6 cd5 ofd3">
        {% include image50vw.html basename="walnut-table-drawing-5by2" alt="Orechový stôl výkres" %}
      </div>
    </div>

    <div class="row">
      <div class="col cd9 ofd3">
        <p>Jedálenský stôl z orechového dreva stelesňuje môj vzťah k drevu, je vyjadrením mojich spomienok na detstvo prežité v stolárskej dielni starého otca.</p>
        <p>Stôl bol vystavený s <a href="/sk/prace/biela-stolicka/">Bielou stoličkou</a> na výstave <a target="_blank" href="https://www.designblok.cz/">Designblok</a> v roku 2008 v Prahe.</p>
      </div>
    </div>

  </div>
</main>


{% include highlight-tiles.html %}
