---
title: Orechový stôl
label: Orechový stôl
subtitle: Jedálenský stôl z orechového dreva
description: Jedálenský stôl z orechového dreva stelesňuje môj vzťah k drevu, je vyjadrením mojich spomienok na detstvo prežité v stolárskej dielni starého otca.
permalink: /sk/prace/orechovy-stol/
layout: default
published: true
group: project
lang: sk
language: Slovensky
og-locale: sk_SK
thumbnail: walnut-table-1by1
image: walnut-table-2by1
og-image: walnut-table-2by1-w2000.jpg
order: 1
sitemap:
  priority: 1
index_tile: true
work_tile: true
---
<div class="fouc p15 pd3 cpt">
  <div class="crl">

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="walnut-table-sketch-2by1" alt="Orechový stôl skica" %}
        {% include image100vw.html basename="walnut-table-2by1" alt="Orechový stôl" %}
      </div>
    </div>

  </div>
</div>

<main class="fouc p15 pd3">
  <div class="crs">

    <div class="row">
      <div class="col cd9 ofd3">
        <img class="img-fluid py15" alt="Orechový stôl výkres" src="{{ site.baseurl }}/img/walnut-table-drawing.png"/>

        <h1 class="h1">{{ page.title }}</h1>

        <p>Jedálenský stôl z orechového dreva stelesňuje môj vzťah k drevu, je vyjadrením mojich spomienok na detstvo prežité v stolárskej dielni starého otca.</p>
        <p>Stôl bol vystavený s <a href="/sk/prace/biela-stolicka/">Bielou stoličkou</a> na výstave <a target="_blank" href="http://www.designblok.cz/">Designblok</a> v roku 2008 v Prahe.</p>

      </div>
    </div>

  </div>
</main>

{% include highlight-tiles.html %}
