---
title: Trofej fotografickej súťaže Tripod
label: Tripod
subtitle: Trofej fotografickej súťaže Deeper Perspective
description: Trofej fotografickej súťaže Tripod pre Pilsner Urquell navrhol v roku 2006 multidisciplinárny dizajnér Pavol Mikuláš. Vyrába BeldaFactory a sklárne Moser.
permalink: /sk/prace/trofej-fotografickej-sutaze-tripod/
layout: default
published: true
group: project
lang: sk
language: Slovensky
og-locale: sk_SK
thumbnail: trophy-tripod-1by1
image: trophy-tripod-twins-2by1
og-image: trophy-tripod-twins-2by1-w2000.jpg
order: 4
index_tile: true
work_tile: true
---
<div class="fouc db p15 pd3 cpt">
  <div class="crl">

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="trophy-tripod-sketch-1by1" alt="Pilsner Urquell trofej skice" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="trophy-tripod-visualization-1by1" alt="Pilsner Urquell trofej vizualizácia" %}
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="trophy-tripod-moser-glassworks-1by1" alt="Výroba trofeje pre Pilsner Urquell v sklárňach Moser" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="trophy-tripod-belda-workshop-1by1" alt="Výroba trofeje pre Pilsner Urquell v BeldaFactory" %}
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="trophy-tripod-twins-2by1" alt="Pilsner Urquell trofej" %}
      </div>
    </div>

  </div>
</div>

<main class="fouc p15 pd3">
  <div class="crs">

    <div class="row">
      <div class="col cd9 ofd3">
        <img class="img-fluid py15" alt="Pilsner Urquell photo award trophy drawing" src="{{ site.baseurl }}/img/trophy-tripod-drawing.png" />

        <h1 class="h1">{{ page.title }}</h1>

        <p>Cieľom tohto projektu bolo navrhnúť trofej pre víťazov kategórie Deeper Perspective súťaže IPA.</p>
        <p>Vyjadruje túžbu po víťazstve, uznaní a prestíži.</p>
        <p>Veci majú pozostávať z toho na čo sú určené. <a href="/sk/prace/karafa-pohar-na-vodu-ona/">Karafa</a> z vody a trofej z túžby.</p>
        <p>Trofej som navrhol v spolupráci so štúdiom <a target="_blank" href="http://www.olgojchorchoj.cz/">Olgoj Chorchoj</a> v roku 2006.</p>
        <p>Vyrába ju <a target="_blank" href="http://www.belda.cz/">BeldaFactory</a> a sklárne <a target="_blank" href="http://www.moser-glass.com/">Moser</a>.</p>

      </div>
    </div>

  </div>
</main>

{% include highlight-tiles.html %}
