---
title: Výstavný stánok Škoda Auto
label: Výstavný stánok Škoda
subtitle: Prezentácia Škoda Auto na Designblok-u
description: Výstavný stánok pre Škoda Auto navrhol v roku 2007 multidisciplinárny dizajnér Pavol Mikuláš. Návrh vznikol v spolupráci so Škoda Auto Design.
permalink: /sk/prace/vystavny-stanok-skoda-auto/
layout: default
published: true
group: project
lang: sk
language: Slovensky
og-locale: sk_SK
thumbnail: skoda-auto-exhibition-stand-fisheye-1by1
image: skoda-auto-exhibition-stand-2by1
og-image: skoda-auto-exhibition-stand-2by1-w2000.jpg
order: 8
index_tile: true
work_tile: true
---
<div class="fouc p15 pd3 cpt">
  <div class="crl">

    <div class="row pb3 pbd6">
      <div class="col">
        {% include image100vw.html basename="skoda-auto-exhibition-stand-alsovo-nabrezi-2by1" alt="Výstavný stánok Škoda Auto" %}
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="skoda-auto-exhibition-stand-sketch-1by1" alt="Výstavný stánok Škoda Auto skica" %}
      </div>
      <div class="col c6">
       {% include image50vw.html basename="skoda-auto-exhibition-stand-visualization-1by1" alt="Výstavný stánok Škoda Auto vizualizácia" %}
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="skoda-auto-exhibition-stand-production-1-1by1" alt="Výstavný stánok Škoda Auto výroba" %}
      </div>
      <div class="col c6">
       {% include image50vw.html basename="skoda-auto-exhibition-stand-production-2-1by1" alt="Výstavný stánok Škoda Auto výroba" %}
      </div>
    </div>

    <div class="row py3 pyd6">
      <div class="col">
        {% include image100vw.html basename="skoda-auto-exhibition-stand-2by1" alt="Výstavný stánok Škoda Auto" %}
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="skoda-auto-exhibition-stand-night-1by1" alt="Výstavný stánok Škoda Auto v noci" %}
      </div>
      <div class="col c6">
       {% include image50vw.html basename="skoda-auto-exhibition-stand-fisheye-1by1" alt="Výstavný stánok Škoda Auto" %}
      </div>
    </div>

  </div>
</div>

<main class="fouc p15 pd3">
  <div class="crs">

    <div class="row">
      <div class="col cd9 ofd3">
        <img class="img-fluid py15" alt="Výstavný stánok Škoda Auto výkres" src="{{ site.baseurl }}/img/skoda-auto-exhibition-stand-drawing.png"/>

        <h1 class="h1">{{ page.title }}</h1>

        <p>Výstavný stánok prezentuje Škoda Fabia Scout a zároveň značku Škoda. Jeho účelom je prilákať pozornosť návštevníkov mesta. </p>
        <p>Výstavný stánok má kovovú konštrukciu pokrytú elastickou tkaninou.</p>
        <p>Bol vystavený na výstave <a target="_blank" href="http://www.designblok.cz/">Designblok</a>‘07 a <a target="_blank" href="http://www.designblok.cz/">Designblok</a>‘08 v Prahe. Bol navrhnutý v spolupráci so <a target="_blank" href="http://www.skoda-auto.com/">Škoda Auto</a> Design.</p>

      </div>
    </div>

  </div>
</main>

{% include highlight-tiles.html %}
