---
title: Webové stránky Olgoj Chorchoj
label: Olgoj Chorchoj
subtitle: Web dizajn
description: Návrh webovej stránky a administračného systému pre dizajnérske a architektonické štúdio Olgoj Chorchoj vytvoril v roku 2005 Pavol Mikuláš.
permalink: /sk/prace/olgoj-chorchoj-webstranky/
layout: default
published: true
group: project
lang: sk
language: Slovensky
og-locale: sk_SK
thumbnail: olgoj-chorchoj-website-2by1
image: olgoj-chorchoj-website-2by1
og-image: olgoj-chorchoj-website-2by1-w2000.jpg
order: 5
index_tile: false
work_tile: false
---
<div class="ctr">
  <div class="ctr">

    <div class="row pb1">
      <div class="col">
        {% include image100vw.html basename="olgoj-chorchoj-website-2by1" alt="Olgoj Chorchoj webstránky" %}
      </div>
    </div>

  </div>
</div>


<main class="p1">
  <div class="ctr">

    <div class="row pb05">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
      </div>
    </div>

    <div class="row pb1">
      <div class="col c6 cd4 ofd3">
        {% include image50vw.html basename="olgoj-chorchoj-website-mockup-4by3" alt="Webové stránky Olgoj Chorchoj mockup" %}
      </div>
    </div>

    <div class="row">
      <div class="col cd9 ofd3">
        <p>Web dizajn a kód webovej stránky a systému pre správu obsahu štúdia <a target="_blank" href="http://www.olgojchorchoj.cz/">Olgoj Chorchoj</a>.</p>
      </div>
    </div>

  </div>
</main>


{% include highlight-tiles.html %}
