---
title: Webové stránky Olgoj Chorchoj
label: Olgoj Chorchoj
subtitle: Webové stránky a administračný systém
description: Návrh webovej stránky a administračného systému pre dizajnérske a architektonické štúdio Olgoj Chorchoj vytvoril v roku 2005 Pavol Mikuláš.
permalink: /sk/prace/olgoj-chorchoj-webstranky/
layout: default
published: true
group: project
lang: sk
language: Slovensky
og-locale: sk_SK
thumbnail: olgoj-chorchoj-website-2by1
image: olgoj-chorchoj-website-2by1
og-image: olgoj-chorchoj-website-2by1-w2000.jpg
order: 5
work_tile: yes
index_tile: false
work_tile: false
---
<div class="fouc db p15 pd3 cpt">
  <div class="crl">

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="olgoj-chorchoj-website-2by1" alt="Olgoj Chorchoj webstránky" %}
      </div>
    </div>

  </div>
</div>

<main class="fouc p15 pd3">
  <div class="crs">

    <div class="row">
      <div class="col cd9 ofd3">
        <img class="img-fluid py15" alt="Webové stránky Olgoj Chorchoj mockup" src="{{ site.baseurl }}/img/olgoj-chorchoj-website-mockup.png" />

        <h1 class="h1">{{ page.title }}</h1>

        <p>Web dizajn a kód webovej stránky a systému pre správu obsahu štúdia <a target="_blank" href="http://www.olgojchorchoj.cz/">Olgoj Chorchoj</a>.</p>

      </div>
    </div>

  </div>
</main>

{% include highlight-tiles.html %}
