---
title: Pavol Mikuláš
subtitle: dizajnér
description: Pavol Mikuláš je multidisciplinárny dizajnér, ktorý verí, že dizajn zameraný na človeka môže spraviť našu planétu lepším miestom pre život.
layout: default
published: true
group: index
lang: sk
language: Slovensky
og-locale: sk_SK
og-image: pavol-mikulas-essence-2by1-w2000.jpg
order: 2
---
<main class="px1">
  <div class="ctr">

    <div class="row pb2">
      <div class="col cd9 ofd3">
        <p class="h1 mw2">Som multidisciplinárny dizajnér, mysliteľ a tvorca.</p>
        <p><a href="/sk/o-mne/">Toto som ja →</a></p>
      </div>
    </div>

  </div>
</main>


{% include index-tiles-w100.html %}


<div class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}
          {% if page.subtitle %}<span class="h2 mt05">{{ page.subtitle }}</span>{% endif %}
        </h1>
        <p>Som multidisciplinárny dizajnér so sídlom v Bratislave.</p>
        <p>Spoločnosti si ma najímajú, aby som definoval, navrhol, vyprototypoval, vyrobil, testoval a overil výrobky a značky.</p>
        <p>Som hrdý, že môžem pracovať pre Eset, DZ Dražice a Re pello.</p>
        <p><a href="/sk/prace/">Prečítajte si viac o mojej práci →</a></p>
      </div>
    </div>

  </div>
</div>
