---
title: O mne
subtitle: Dizajnér
description: Pavol Mikuláš je multidisciplinárny dizajnér, tvorca Orechového stola, karafy a pohára na vodu ONA a Bielej stoličky.
permalink: /sk/o-mne/
layout: default
published: true
group: about
lang: sk
language: Slovensky
og-locale: sk_SK
order: 1
og-image: pavol-mikulas-designer-2017-w1000.jpg
---
<main class="px1">
  <div class="ctr">

    <div class="row pb2">
      <div class="col cd9 ofd3">
        <p class="h1 mw2">Som húževnatý, optimistický, ticho sebavedomý a spokojný s dokonalosťou.</p>
        <p><a href="/sk/prace/">Toto je je to, čo robím →</a></p>
      </div>
    </div>

  </div>
</main>


<div class="px1">
  <div class="ctr">

    <div class="row pb1">
      <div class="col c6">
        {% include image50vw.html basename="pavol-mikulas-lego-1980s-1by1" alt="Lego" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="pavol-mikulas-my-first-hammer-1980s-1by1" alt="moje prvé kladivko" %}
      </div>
    </div>

    <div class="row pb1">
      <div class="col c6">
        {% include image50vw.html basename="sewing-machine-grandma-1990s-1by1" alt="šijací stroj starej mamy" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="pavol-mikulas-shoes-prototype-1992-1by1" alt="prototyp topánok" %}
      </div>
    </div>

    <div class="row pb2">
      <div class="col c6">
        {% include image50vw.html basename="granddad-wood-working-machine-1by1" alt="dedkov drevoobrábací stroj" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="olgoj-chorchoj-studio-2007-1by1" alt="Olgoj Chorchoj štúdio" %}
      </div>
    </div>

    <div class="row">
      <div class="col c6 cd4 ofd2">
        {% include image50vw.html basename="pavol-mikulas-designer-2017-circle" alt="Pavol Mikuláš dizajnér" %}
      </div>
    </div>

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
        <p>Som multidisciplinárny dizajnér, ktorý verí, že dizajn zameraný na človeka môže spraviť našu planétu lepším miestom pre život. Verím v silu pozitívneho myslenia a koncentrácie sa na používateľa. Mám silné estetické cítenie, technické vzdelanie a skúsenosti s výrobnými technológiami. Som dizajnér mysliteľ, pre ktorého je každý projekt hľadaním odpovede na správne položenú otázku.</p>
        <p>Pracoval som pre dizajnérske a architektonické štúdio Olgoj Chorchoj v Prahe, kde som bol zodpovedný za návrh <a href="/sk/prace/karafa-pohar-na-vodu-ona/">Karafy na vodu ONA</a>, <a href="/sk/prace/olgoj-chorchoj-webstranky/">webstránok Olgoj Chorchoj</a> a <a href="/sk/prace/trofej-fotografickej-sutaze-tripod/">trofeje</a> pre <a target="_blank" href="https://www.pilsnerurquell.com/">Pilsner Urquell</a>.</p>

        <p>Zúčastnil som sa workshopu na <a target="_blank" href="https://www.scuoladesign.com/">Scuola Politecnica di Design</a> v Miláne, v spolupráci s <a target="_blank" href="https://www.alessi.com/">Alessi</a>, pod vedením <a target="_blank" href="http://www.guixe.com/">Marti Guixe</a> a <a target="_blank" href="https://www.jackbrandsma.com/">Jack Brandsma</a>.</p>

        <p>Absolvoval som šesťmesačnú stáž vo vývojovom centre <a target="_blank" href="https://www.vw.com/">Volkswagen</a> vo Wolfsburgu.</p>

        <p>V roku 2012 som založil dizajnérske štúdio <a target="_blank" href="http://www.vyvojka.com/">Vývojka</a> v Bratislave. Medzi mojich klientov patria <a target="_blank" href="https://www.skoda-auto.com/">Škoda Auto</a>, <a target="_blank" href="https://www.prim.cz/">Prim</a>, <a target="_blank" href="https://www.dzd.cz/">DZ Dražice</a>, <a target="_blank" href="https://www.slsp.sk/">Slovenská sporiteľňa</a>, <a target="_blank" href="https://www.eset.com/sk/">Eset</a> a <a target="_blank" href="https://www.repello.cz/">Re pello</a>.</p>

        <p>Získal som Slovenskú národnú cenu za dizajn za RePello Model 16, drevený celoodpružený bicykel pre deti.</p>

        <p>Od roku 2018 pracujem pre TDK ako layout inžinier integrovaných obvodov. Vyvíjame vysokovýkonné digitálne MEMS mikrofóny s nízkou spotrebou.</p>

        <p>Žijem a pracujem v Bratislave so svojou manželkou <a target="_blank" href="http://www.evamikulasova.com/">Evou</a> a dcérami Margarétou a Milotou.</p>
      </div>
    </div>

  </div>
</div>
