---
title: O mne
description: Pavol Mikuláš je multidisciplinárny dizajnér, tvorca Orechového stola, karafy a pohára na vodu ONA a Bielej stoličky.
permalink: /sk/o-mne/
layout: default
published: true
group: about
lang: sk
language: Slovensky
og-locale: sk_SK
order: 1
og-image: pavol-mikulas-designer-2017-w1000.jpg
---
<div class="fouc db p15 pd3 cpt">
  <div class="crl">

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="pavol-mikulas-lego-1980s-1by1" alt="Lego" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="pavol-mikulas-my-first-hammer-1980s-1by1" alt="moje prvé kladivko" %}
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="pavol-mikulas-shoes-prototype-1992-1by1" alt="prototyp topánok" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="granddad-wood-working-machine-1by1" alt="dedkov drevoobrábací stroj" %}
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="olgoj-chorchoj-studio-2007-1by1" alt="Olgoj Chorchoj štúdio" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="pavol-mikulas-designer-2017" alt="Pavol Mikuláš dizajnér" %}
      </div>
    </div>

  </div>
</div>

<main class="fouc p15 pd3">
  <div class="crs">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>

        <p>Som multidisciplinárny dizajnér, ktorý verí, že dizajn zameraný na človeka môže spraviť našu planétu lepším miestom pre život. Verím v silu pozitívneho myslenia a koncentrácie sa na používateľa. Mám silné estetické cítenie, technické vzdelanie a skúsenosti s výrobnými technológiami. Som dizajnér mysliteľ, pre ktorého je každý projekt hľadaním odpovede na správne položenú otázku.</p>
        <p>Pracoval som pre dizajnérske a architektonické štúdio Olgoj Chorchoj v Prahe, kde som bol zodpovedný za návrh <a href="/sk/prace/karafa-pohar-na-vodu-ona/">Karafy na vodu ONA</a>, <a href="/sk/prace/olgoj-chorchoj-webstranky/">webstránok Olgoj Chorchoj</a> a <a href="/sk/prace/trofej-fotografickej-sutaze-tripod/">trofeje pre Pilsner Urquell</a>.</p>

        <p>V roku 2008 som absolvoval workshop na <a target="_blank" href="http://www.scuoladesign.com/">Scuola Politecnica di Design</a> v Miláne, v spolupráci s <a target="_blank" href="http://www.alessi.com/">Alessi</a>, pod vedením <a target="_blank" href="http://www.guixe.com/">Marti Guixe</a> a <a target="_blank" href="http://www.jackbrandsma.com/">Jack Brandsma</a>.</p>

        <p>V roku 2009 som absolvoval šesťmesačnú stáž vo vývojovom centre <a target="_blank" href="http://www.vw.com/">Volkswagen</a> vo Wolfsburgu.</p>

        <p>V roku 2012 som založil dizajnérske štúdio <a target="_blank" href="http://www.vyvojka.com/">Vývojka</a> v Bratislave. Medzi mojich klientov patria <a target="_blank" href="http://www.skoda-auto.com/">Škoda Auto</a>, <a target="_blank" href="http://www.prim.cz/">Prim</a>, <a target="_blank" href="http://www.dzd.cz/">DZ Dražice</a>, <a target="_blank" href="https://www.slsp.sk/">Slovenská sporiteľňa</a>, <a target="_blank" href="https://www.eset.com/sk/">Eset</a> a <a target="_blank" href="https://www.repello.cz/">Re pello</a>.</p>

        <p>Žijem a pracujem v Bratislave so svojou manželkou <a target="_blank" href="http://www.evamikulasova.com/">Evou</a> a dcérami Margarétou a Milotou.</p>

      </div>
    </div>

  </div>
</main>
