---
title: Andrej Korec corporate design
label: Andrej Korec
subtitle: Corporate design
description: Corporate design of the manufacturer’s painting canvases Andrej Korec. Designed by cross-disciplinary designer Pavol Mikuláš in 2011.
permalink: /work/andrej-korec-corporate-design/
layout: default
published: true
group: project
lang: en
language: English
og-locale: en_US
thumbnail: andrej-korec-corporate-design-1by1
image: andrej-korec-website-2by1
og-image: andrej-korec-corporate-design-2by1-w2000.jpg
order: 9
index_tile: false
work_tile: false
---
<div class="ctr">
  <div class="ctr">

    <div class="row pb1">
      <div class="col">
        {% include image100vw.html basename="andrej-korec-corporate-design-2by1" alt="Andrej Korec corporate design" %}
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="andrej-korec-website-2by1" alt="Andrej Korec website" %}
      </div>
    </div>

  </div>
</div>


<main class="p1">
  <div class="ctr">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col cd9 ofd3">
        <p>Corporate design of the manufacturer’s painting canvases.</p>
        <p><a target="_blank" href="http://www.maliarskeplatno.eu/">www.maliarskeplatno.eu</a><br>Photo <a target="_blank" href="https://durotomik.smugmug.com/">Juraj Tomík</a></p>
      </div>
    </div>

  </div>
</main>


{% include highlight-tiles.html %}
