---
title: Carafe and water glass Ona
label: Carafe Ona
subtitle: Product design
description: Carafe and water glass Ona is intended for beside table for nightly drinks. Designed by cross-disciplinary designer Pavol Mikuláš in 2005.
permalink: /work/carafe-and-water-glass-ona/
layout: default
published: true
group: project
lang: en
language: English
og-locale: en_US
thumbnail: carafe-and-water-glass-ona-1by1
image: carafe-and-water-glass-ona-colors-2by1
og-image: carafe-and-water-glass-ona-colors-2by1-w2000.jpg
order: 3
index_tile: true
work_tile: true
---
<div class="ctr">

  <div class="row">
    <div class="col">
      {% include image100vw.html basename="carafe-and-water-glass-ona-sketch-photo-2by1" alt="Carafe and water glass Ona sketch" %}
    </div>
  </div>

  <div class="row">
    <div class="col">
      {% include image100vw.html basename="moravian-glassworks-kvetna-floor-production-2by1" alt="Moravian glassworks Kvetna" %}
    </div>
  </div>

</div>


<main class="p1">
  <div class="ctr">

    <div class="row pb05">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
      </div>
    </div>

    <div class="row pb1">
      <div class="col c6 cd4 ofd3">
        {% include image50vw.html basename="carafe-and-water-glass-ona-drawing-1by1" alt="Carafe and water glass Ona drawing" %}
      </div>
    </div>

    <div class="row">
      <div class="col cd9 ofd3">
        <p>Carafe and water glass is intended for beside table for nightly drinks. It can hold a half a liter of liquid.</p>
        <p>I wanted a very thin carafe, <a target="_blank" href="https://www.lobmeyr.at/">Lobmayerish</a> thin — almost imaginary. I needed something to hold water but to look as if it were made out of the water itself.</p>
        <p>I designed the carafe and water glass when I worked at <a target="_blank" href="http://www.olgojchorchoj.cz/">Olgoj Chorchoj</a> design studio in 2005.</p>
        <p>It is produced and sell by <a target="_blank" href="https://www.crystalite.org/">Moravian Glassworks Květná</a>.</p>
      </div>
    </div>

  </div>
</main>


{% include highlight-tiles.html %}
