---
title: Work
subtitle: Design
description: Selected projects from the portfolio of multidisciplinary designer Pavol Mikuláš, for customers such as Škoda Auto, Pilsner Urquell and Re pello.
permalink: /work/
layout: default
published: true
group: work
children: project
lang: en
language: English
og-locale: en_US
og-image: pavol-mikulas-work-tiles-2by1-w2000.jpg
order: 2
---
<main class="px1">
  <div class="ctr">

    <div class="row pb2">
      <div class="col cd9 ofd3">
        <p class="h1 mw2">I love to design products and brands and learn new things.</p>
        <p><a href="/contact/">Talk to me →</a></p>
      </div>
    </div>

  </div>
</main>


{% include work-tiles.html %}


<main class="px1">
  <div class="ctr">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
        {% if page.subtitle %}<h2 class="h2">{{ page.subtitle }}</h2>{% endif %}
        <p>I work hard to design innovative products and stunning brands. I’m curious and hungry.</p>
      </div>
    </div>

  </div>
</main>
