---
title: Work
description: Selected projects from the portfolio of multidisciplinary designer Pavol Mikuláš, for customers such as Škoda Auto, Pilsner Urquell and Re pello.
permalink: /work/
layout: default
published: true
group: work
children: project
lang: en
language: English
og-locale: en_US
og-image: pavol-mikulas-work-tiles-2by1-w2000.jpg
order: 2
---
{% include work-tiles.html %}

<main class="fouc p15 pd3">
  <div class="crs">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
        {% if page.subtitle %}<h2 class="h2">{{ page.subtitle }}</h2>{% endif %}

        <p>I do what I love. You can find here selected projects for clients as <a target="_blank" href="http://www.skoda-auto.com/">Škoda Auto</a>, <a target="_blank" href="http://www.pilsnerurquell.com/">Pilsner Urquell</a> and <a target="_blank" href="https://www.repello.cz/">Re pello</a>.</p>

      </div>
    </div>

  </div>
</main>
