---
title: Olgoj Chorchoj Website
label: Olgoj Chorchoj
subtitle: Website and content management system
description: Design of olgojchorchoj.cz website and content management system. Designed by cross disciplinary designer Pavol Mikuláš in 2005.
permalink: /work/olgoj-chorchoj-website/
layout: default
published: true
group: project
lang: en
language: English
og-locale: en_US
thumbnail: olgoj-chorchoj-website-2by1
image: olgoj-chorchoj-website-2by1
og-image: olgoj-chorchoj-website-2by1-w2000.jpg
order: 5
index_tile: false
work_tile: false
---
<div class="fouc db p15 pd3 cpt">
  <div class="crl">

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="olgoj-chorchoj-website-2by1" alt="Olgoj Chorchoj Website" %}
      </div>
    </div>

  </div>
</div>

<main class="fouc p15 pd3">
  <div class="crs">

    <div class="row">
      <div class="col cd9 ofd3">
        <img class="img-fluid py15" alt="Olgoj Chorchoj Website mockup" src="{{ site.baseurl }}/img/olgoj-chorchoj-website-mockup.png" />

        <h1 class="h1">{{ page.title }}</h1>

        <p>The webdesign and code of <a target="_blank" href="http://www.olgojchorchoj.cz/">Olgoj Chorchoj</a> website and content management system written in ActionScript.</p>

      </div>
    </div>

  </div>
</main>

{% include highlight-tiles.html %}
