---
title: Olgoj Chorchoj Website
label: Olgoj Chorchoj
subtitle: Web design
description: Design of olgojchorchoj.cz website and content management system. Designed by cross-disciplinary designer Pavol Mikuláš in 2005.
permalink: /work/olgoj-chorchoj-website/
layout: default
published: true
group: project
lang: en
language: English
og-locale: en_US
thumbnail: olgoj-chorchoj-website-2by1
image: olgoj-chorchoj-website-2by1
og-image: olgoj-chorchoj-website-2by1-w2000.jpg
order: 5
index_tile: false
work_tile: false
---
<div class="ctr">
  <div class="ctr">

    <div class="row pb1">
      <div class="col">
        {% include image100vw.html basename="olgoj-chorchoj-website-2by1" alt="Olgoj Chorchoj Website" %}
      </div>
    </div>

  </div>
</div>


<main class="p1">
  <div class="ctr">

    <div class="row pb05">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
      </div>
    </div>

    <div class="row pb1">
      <div class="col c6 cd4 ofd3">
        {% include image50vw.html basename="olgoj-chorchoj-website-mockup-4by3" alt="Olgoj Chorchoj Website mockup" %}
      </div>
    </div>

    <div class="row">
      <div class="col cd9 ofd3">
        <p>The webdesign and code of <a target="_blank" href="http://www.olgojchorchoj.cz/">Olgoj Chorchoj</a> website and content management system written in ActionScript.</p>
      </div>
    </div>

  </div>
</main>


{% include highlight-tiles.html %}
