---
title: Photo award trophy Tripod
label: Tripod
subtitle: The trophy for Deeper Perspective competition
description: Design of photo award trophy for Pilsner Urquell produced by BeldaFactory. Designed by cross disciplinary designer Pavol Mikuláš in 2006.
permalink: /work/pilsner-urquell-photo-award-trophy/
layout: default
published: true
group: project
lang: en
language: English
og-locale: en_US
thumbnail: trophy-tripod-1by1
image: trophy-tripod-twins-2by1
og-image: trophy-tripod-twins-2by1-w2000.jpg
order: 4
index_tile: true
work_tile: true
---
<div class="fouc db p15 pd3 cpt">
  <div class="crl">

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="trophy-tripod-sketch-1by1" alt="Pilsner Urquell photo award trophy sketch" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="trophy-tripod-visualization-1by1" alt="Pilsner Urquell photo award trophy visualization" %}
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="trophy-tripod-moser-glassworks-1by1" alt="Production of Pilsner Urquell photo award trophy at Moser glassworks" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="trophy-tripod-belda-workshop-1by1" alt="Production of Pilsner Urquell photo award trophy at BeldaFactory" %}
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="trophy-tripod-twins-2by1" alt="Pilsner Urquell photo award trophy" %}
      </div>
    </div>

  </div>
</div>

<main class="fouc p15 pd3">
  <div class="crs">

    <div class="row">
      <div class="col cd9 ofd3">
        <img class="img-fluid py15" alt="Pilsner Urquell photo award trophy drawing" src="{{ site.baseurl }}/img/trophy-tripod-drawing.png" />

        <h1 class="h1">{{ page.title }}</h1>

        <p>The goal of this project was to design a trophy for the national winners of the IPA competition Deeper Perspective category.</p>
        <p>It encapsulates prestige, honour and recognition. The trophy was meant to become a desirable object for its meaning in the world of photography as well as its value as a design object.</p>
        <p>Things should be made of stuff they are proposed for. The <a href="/work/carafe-and-water-glass-ona/">carafe</a> is inspired by water and looks as made out of it, so the trophy should represent ambition.</p>
        <p>I designed the trophy in cooperation with the <a target="_blank" href="http://www.olgojchorchoj.cz/">Olgoj Chorchoj</a> studio in 2006.</p>
        <p>It was produced by <a target="_blank" href="http://www.belda.cz/">BeldaFactory</a> and <a target="_blank" href="http://www.moser-glass.com/">Moser glassworks</a>.</p>

      </div>
    </div>

  </div>
</main>

{% include highlight-tiles.html %}
