---
title: Re pello Model J
label: Model J
subtitle: Wooden, full suspension balance bike
description: Model J is a full suspension balance bike for children aged from 2 to 4 years. It is light weight, easy to assemble and easy to use.
permalink: /work/re-pello-model-j/
layout: default
published: true
group: project
lang: en
language: English
og-locale: en_US
thumbnail: re-pello-model-j-red-athlete-1by1
image: re-pello-model-j-red-athlete-2by1
og-image: re-pello-model-j-milan-dancing-2by1-w2000.jpg
order: 10
sitemap:
  priority: 1
index_tile: true
work_tile: true
class: mj
---
<main class="fouc px15 pxd3 cpt">

  <div class="crl">
    <div class="row">
      <div class="col">
        {% include image100vw.html basename="re-pello-model-j-milan-dancing-2by1" alt="Re pello Model J Milan edition" %}
      </div>
    </div>
  </div>

  <div class="crs">
    <div class="row py3 pyd5">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
        <p>Corporate identity of <a target="_blank" href="https://www.repello.cz/">Re pello</a> brand and design of Model J – full suspension balance bike for children.</p>
      </div>
    </div>
  </div>

</main>

<div class="fouc db pxb15 pxbd3">

  <div class="crl">
    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="re-pello-exhibition-milan-2017-1by1" alt="Re pello Model J at Salone del Mobile 2017 in Milan" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="re-pello-exhibition-milan-edition-2017-1by1" alt="Re pello Model J at Salone del Mobile 2017 in Milan" %}
      </div>
    </div>
  </div>

  <div class="crs">
    <div class="row py3 pyd5">
      <div class="col cd9 ofd3">
        <p><a target="_blank" href="https://www.repello.cz/">Re pello</a> Model J was exhibited at <a target="_blank" href="https://www.salonemilano.it/">Salone del Mobile</a> 2017 in Milan.</p>
      </div>
    </div>
  </div>

  <div class="crl">
    <div class="row">
      <div class="col">
        {% include image100vw.html basename="re-pello-exhibition-festivalmini-2017-2by1" alt="Re pello at festival mini 2017" %}
      </div>
    </div>
  </div>

  <div class="crs">
    <div class="row py3 pyd5">
      <div class="col cd9 ofd3">
        <p><a target="_blank" href="https://www.repello.cz/model-j/">Model J</a> at <a target="_blank" href="http://festivalmini.cz/">festival mini</a> in Prague.</p>
      </div>
    </div>
  </div>

  <div class="crl">
    <div class="row">
      <div class="col">
        {% include image100vw.html basename="re-pello-model-j-red-athlete-2by1" alt="Re pello Model J red" %}
      </div>
    </div>
    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="re-pello-model-j-production-1-1by1" alt="Re pello Model J production" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="re-pello-exhibition-designblok-2016-1by1" alt="Re pello exhibition design" %}
      </div>
    </div>
  </div>

  <div class="crs">
    <div class="row py3 pyd5">
      <div class="col cd9 ofd3">
        <p>Production of Model J and <a target="_blank" href="http://www.designblok.cz/">Designblok</a> exhibition in 2016.</p>
      </div>
    </div>
  </div>

  <div class="crl">
    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="re-pello-logo-design-1by1" alt="Re pello logo design" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="re-pello-strapline-1by1" alt="Re pello strapline" %}
      </div>
    </div>
  </div>

  <div class="crs">
    <div class="row py3 pyd5">
      <div class="col cd9 ofd3">
        <p>Logo design and strapline Moving happily.</p>
      </div>
    </div>
  </div>

  <div class="crl">
    <div class="row">
      <div class="col">
        {% include image100vw.html basename="re-pello-business-cards-color-combinations-2by1" alt="Re pello corporate identity" %}
      </div>
    </div>
  </div>

  <div class="crs">
    <div class="row py3 pyd5">
      <div class="col cd9 ofd3">
        <p>Business cards and color combinations.</p>
      </div>
    </div>
  </div>

  <div class="crl">
    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="re-pello-model-j-manual-1-1by1" alt="Re pello Model J manual" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="re-pello-model-j-package-design-1by1" alt="Re pello Model J packaging" %}
      </div>
    </div>
  </div>

  <div class="crs">
    <div class="row py3 pyd5">
      <div class="col cd9 ofd3">
        <p>Model J manual and packaging.</p>
      </div>
    </div>
  </div>

  <div class="crs">
    <div class="row">
      <div class="col cd9 ofd3">
        {% if page.subtitle %}<h2 class="h2">{{ page.subtitle }}</h2>{% endif %}

        <img class="img-fluid py15" alt="Re pello Model J drawing" src="{{ site.baseurl }}/img/re-pello-model-j-drawing-2by1-w600.jpg" />

        <p><a target="_blank" href="https://www.repello.cz/model-j/">Model J</a> is a full suspension balance bike for children aged from 2 to 4 years. Model J is made of birch plywood, glued together with waterproof glue and then painted in two layers with quality non toxic coating. It is light weight, easy to assemble and easy to use.</p>
        <p>Model J is the only full suspension balance bike on the market. The suspension is ensured by a patented system, LVS. The system was created by Jiří Marján, who produces Model J for his brand <a target="_blank" href="https://www.repello.cz/">Re pello</a> in the Czech Republic.</p>
        <p>Thanks to the suspension system vibrations are significantly reduced when riding on any surface. The suspension system protects the child's body from harmful vibrations and provides a comfortable riding experience.</p>
        <p>Re pello Model J was exhibited at Prague’s <a target="_blank" href="http://www.designblok.cz/">Designblok</a> 2015 and 16 and at the exhibition <a target="_blank" href="https://www.salonemilano.it/">Salone del Mobile</a> 2017 in Milan.</p>
        <p>Model J differs from the other balance bikes because of it's functionality and beautiful design. With Model J children will be moving happily through their chilhood.</p>

      </div>
    </div>
  </div>

</div>

{% include highlight-tiles.html %}
