---
title: Škoda Auto leather collection
label: Škoda leather collection
subtitle: Set of wallets, a manicure set and a keychain
description: Design of a leather collection for Škoda Auto produced by Uniko. Designed by cross disciplinary designer Pavol Mikuláš in 2007.
permalink: /work/skoda-auto-leather-collection/
layout: default
published: true
group: project
lang: en
language: English
og-locale: en_US
thumbnail: skoda-auto-leather-collection-man-1by1
image: skoda-auto-leather-collection-2by1
og-image: skoda-auto-leather-collection-2by1-w2000.jpg
order: 7
index_tile: false
work_tile: true
---
<div class="fouc db p15 pd3 cpt">
  <div class="crl">

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="skoda-auto-leather-collection-2by1" alt="Škoda Auto leather collection" %}
        {% include image100vw.html basename="skoda-auto-leather-collection-illustration-2by1" alt="Škoda Auto leather collection illustration" %}
      </div>
    </div>

  </div>
</div>

<main class="fouc p15 pd3">
  <div class="crs">

    <div class="row">
      <div class="col cd9 ofd3">
        <img class="img-fluid py15" alt="Škoda Auto leather collection drawing" src="{{ site.baseurl }}/img/skoda-auto-leather-collection-drawing.png" />

        <h1 class="h1">{{ page.title }}</h1>

        <p>The <a target="_blank" href="http://www.skoda-auto.com/">Škoda</a> leather collection is a set of wallets, a manicure set and a keychain. I concentrated on designing a product which promotes quality in the company.</p>
        <p>It was an honor to work for Škoda Auto, a well known automobile manufacturing company, one of the oldest car making companies in the world.</p>
        <p>Good cooperation with an open minded producer led to this set of unique products reflecting positive thinking and can do attitude. I give special thanks to <a target="_blank" href="http://www.uniko.eu/">Uniko</a> for helping this design come to life.</p>
        <p>It is produced by Uniko. Products are available at Škoda Auto Stores.</p>

      </div>
    </div>

  </div>
</main>

{% include highlight-tiles.html %}
