---
title: Škoda Auto wristwatches
label: Škoda wristwatches
subtitle: Support of the Škoda brand
description: Wristwatches for Škoda designed Pavol Mikuláš in 2007. Produced by Prim.
permalink: /work/skoda-auto-wristwatches/
layout: default
published: true
group: project
lang: en
language: English
og-locale: en_US
thumbnail: skoda-auto-wristwatches-man-in-car-1by1
image: skoda-auto-wristwatches-production-woman-2by1
og-image: skoda-auto-wristwatches-man-sketch-2by1-w2000.jpg
order: 6
index_tile: true
work_tile: true
---
<div class="fouc db p15 pd3 cpt">
  <div class="crl">

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="skoda-auto-wristwatches-woman-colored-sketch-1by1" alt="Škoda Auto wristwatches woman sketch" %}
      </div>
      <div class="col c6">
       {% include image50vw.html basename="skoda-auto-wristwatches-man-sketch-1by1" alt="Škoda Auto wristwatches man sketch" %}
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="skoda-auto-wristwatches-woman-1by1" alt="Škoda Auto wristwatches woman" %}
      </div>
      <div class="col c6">
       {% include image50vw.html basename="skoda-auto-wristwatches-man-visualization-1by1" alt="Škoda Auto wristwatches man visualization" %}
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="skoda-auto-wristwatches-production-woman-1by1" alt="Škoda Auto wristwatches woman production" %}
      </div>
      <div class="col c6">
       {% include image50vw.html basename="skoda-auto-wristwatches-production-man-1by1" alt="Škoda Auto wristwatches man production" %}
      </div>
    </div>

    <div class="row my3">
      <div class="col">
        {% include image100vw.html basename="skoda-auto-wristwatches-woman-in-box-2by1" alt="Škoda Auto wristwatches woman production" %}
      </div>
    </div>

    <div class="row">
      <div class="col c6">
       {% include image50vw.html basename="skoda-auto-wristwatches-man-in-car-1by1" alt="Škoda Auto wristwatches man" %}
      </div>
      <div class="col c6">
        {% include image50vw.html basename="skoda-auto-wristwatches-woman-in-car-1by1" alt="Škoda Auto wristwatches woman" %}
      </div>
    </div>

  </div>
</div>

<main class="fouc p15 pd3">
  <div class="crs">

    <div class="row">
      <div class="col cd9 ofd3">
        <img class="img-fluid py15" alt="Škoda Auto wristwatches drawing" src="{{ site.baseurl }}/img/skoda-auto-wristwatches-drawing.png" />

        <h1 class="h1">{{ page.title }}</h1>

        <p>By using the same techniques as for designing a car, I tried to form a unique connection of these watches to <a target="_blank" href="http://www.skoda-auto.com/">Škoda</a> cars. I designed many versions and selected one of them. This chosen design was followed by production. This is typical process in car design.</p>
        <p>The aim of the watches is sale promotion of the cars and support of the Škoda brand itself.</p>
        <p>The final look of the watches and their pattern was inspired by the car's speed indicator, as well as the engineering technology of the producer.</p>
        <p>The watches are produced by <a target="_blank" href="http://www.prim.cz/">Prim</a>.</p>

      </div>
    </div>

  </div>
</main>

{% include highlight-tiles.html %}
