---
title: Škoda Auto exhibition stand
label: Škoda exhibition stand
subtitle: Presentation of Škoda Auto at Designblok
description: Škoda Auto exhibition stand exhibited at Prague’s Designblok'07. Designed by cross disciplinary designer Pavol Mikuláš in 2007.
permalink: /work/skoda-auto-exhibition-stand/
layout: default
published: true
group: project
lang: en
language: English
og-locale: en_US
thumbnail: skoda-auto-exhibition-stand-fisheye-1by1
image: skoda-auto-exhibition-stand-2by1
og-image: skoda-auto-exhibition-stand-2by1-w2000.jpg
order: 8
index_tile: true
work_tile: true
---
<div class="fouc p15 pd3 cpt">
  <div class="crl">

    <div class="row pb3 pbd6">
      <div class="col">
        {% include image100vw.html basename="skoda-auto-exhibition-stand-alsovo-nabrezi-2by1" alt="Škoda Auto exhibition stand" %}
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="skoda-auto-exhibition-stand-sketch-1by1" alt="Škoda Auto exhibition stand sketch" %}
      </div>
      <div class="col c6">
       {% include image50vw.html basename="skoda-auto-exhibition-stand-visualization-1by1" alt="Škoda Auto exhibition stand visualization" %}
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="skoda-auto-exhibition-stand-production-1-1by1" alt="Škoda Auto exhibition stand production" %}
      </div>
      <div class="col c6">
       {% include image50vw.html basename="skoda-auto-exhibition-stand-production-2-1by1" alt="Škoda Auto exhibition stand production" %}
      </div>
    </div>

    <div class="row py3 pyd6">
      <div class="col">
        {% include image100vw.html basename="skoda-auto-exhibition-stand-2by1" alt="Škoda Auto exhibition stand" %}
      </div>
    </div>

    <div class="row">
      <div class="col c6">
        {% include image50vw.html basename="skoda-auto-exhibition-stand-night-1by1" alt="Škoda Auto exhibition stand at night" %}
      </div>
      <div class="col c6">
       {% include image50vw.html basename="skoda-auto-exhibition-stand-fisheye-1by1" alt="Škoda Auto exhibition stand" %}
      </div>
    </div>

  </div>
</div>

<main class="fouc p15 pd3">
  <div class="crs">

    <div class="row">
      <div class="col cd9 ofd3">
        <img class="img-fluid py15" alt="Škoda Auto exhibition stand drawing" src="{{ site.baseurl }}/img/skoda-auto-exhibition-stand-drawing.png"/>

        <h1 class="h1">{{ page.title }}</h1>

        <p>The exhibition stand has a metal base covered with an elastic fabric. The purpose of the exhibition stand is to attract the attention of city-goers. It's elegant, eyecatching design helps display the car and to carry the feel of the Škoda brand.</p>
        <p>It was exhibited at Prague’s <a target="_blank" href="http://www.designblok.cz/">Designblok</a>'07 at Jan Palach Square and also at Designblok'08. It was designed in cooperation with <a target="_blank" href="http://www.skoda-auto.com/">Škoda Auto</a> Design.</p>

      </div>
    </div>

  </div>
</main>

{% include highlight-tiles.html %}
