---
title: Walnut table
label: Walnut table
subtitle: Dining table from walnut-tree
description: Walnut table is dining table from walnut-tree, which represents my relation to wood and memories of my childhood spent in a joinery workshop.
permalink: /work/walnut-table/
layout: default
published: true
group: project
lang: en
language: English
og-locale: en_US
thumbnail: walnut-table-1by1
image: walnut-table-2by1
og-image: walnut-table-2by1-w2000.jpg
order: 1
sitemap:
  priority: 1
index_tile: true
work_tile: true
---
<div class="fouc p15 pd3 cpt">
  <div class="crl">

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="walnut-table-sketch-2by1" alt="Walnut table sketch" %}
        {% include image100vw.html basename="walnut-table-2by1" alt="Walnut table" %}
      </div>
    </div>

  </div>
</div>

<main class="fouc p15 pd3">
  <div class="crs">

    <div class="row">
      <div class="col cd9 ofd3">
        <img class="imgf py15" alt="Walnut table drawing" src="{{ site.baseurl }}/img/walnut-table-drawing.png"/>

        <h1 class="h1">{{ page.title }}</h1>

        <p>This dining table from walnut-tree represents my relation to wood and memories of my childhood spent in a joinery workshop.</p>
        <p>Each leg of the table is made of four balks, which were boiled before bending and dried in a wood drier. I sawed the boards and did the rest with my granddad’s tools.</p>
        <p>It was exhibited with the White chair at Prague’s <a target="_blank" href="http://www.designblok.cz/">Designblok</a> in 2008.</p>

      </div>
    </div>

  </div>
</main>

{% include highlight-tiles.html %}
