---
title: Walnut table
label: Walnut table
subtitle: Furniture design
description: Walnut table is dining table from walnut-tree, which represents my relation to wood and memories of my childhood spent in a joinery workshop.
permalink: /work/walnut-table/
layout: default
published: true
group: project
lang: en
language: English
og-locale: en_US
thumbnail: walnut-table-1by1
image: walnut-table-2by1
og-image: walnut-table-2by1-w2000.jpg
order: 1
sitemap:
  priority: 1
index_tile: true
work_tile: true
---
<div class="ctr">
  <div class="ctr">

    <div class="row pb1">
      <div class="col">
        {% include image100vw.html basename="walnut-table-2by1" alt="Walnut table" %}
      </div>
    </div>

    <div class="row">
      <div class="col">
        {% include image100vw.html basename="walnut-table-sketch-4by3" alt="Walnut table sketch" %}
      </div>
    </div>

  </div>
</div>


<main class="pxb1">
  <div class="ctr">

    <div class="row">
      <div class="col cd9 ofd3">
        <h1 class="h1">{{ page.title }}</h1>
      </div>
    </div>

    <div class="row pb1">
      <div class="col c6 cd5 ofd3">
        {% include image50vw.html basename="walnut-table-drawing-5by2" alt="Walnut table drawing" %}
      </div>
    </div>

    <div class="row">
      <div class="col cd9 ofd3">
        <p>This dining table from walnut-tree represents my relation to wood and memories of my childhood spent in a joinery workshop.</p>
        <p>Each leg of the table is made of four balks, which were boiled before bending and dried in a wood drier. I sawed the boards and did the rest with my granddad’s tools.</p>
        <p>It was exhibited with the White chair at Prague’s <a target="_blank" href="https://www.designblok.cz/">Designblok</a> in 2008.</p>
      </div>
    </div>

  </div>
</main>


{% include highlight-tiles.html %}
