---
layout: compress
---
<!doctype html>
{% if page.group == "index" or page.group == "profiles" or page.group == "profiles-helped" or page.group == "stories" %}
  <html lang="{{ page.lang }}" itemscope itemtype="http://schema.org/WebPage">
{% elsif page.group == "contact" %}
  <html lang="{{ page.lang }}" itemscope itemtype="http://schema.org/ContactPage">
{% elsif page.group == "about" %}
  <html lang="{{ page.lang }}" itemscope itemtype="http://schema.org/AboutPage">
{% else %}
  <html lang="{{ page.lang }}">
{% endif %}
{% include head.html %}

{% comment %} Add dev class while development {% endcomment %}
{% assign page_class = "" %}

{% if site.development == true %}
  {% assign page_class = "dev" %}
{% endif %}

{% comment %} Add page.group class {% endcomment %}
{% if page.group %}
  {% if page_class == "" %}
    {% assign page_class = page.group %}
  {% else %}
    {% assign page_class = page_class | append: " " | append: page.group %}
  {% endif %}
{% endif %}

{% comment %} Add page.class {% endcomment %}
{% if page.class %}
  {% if page_class == "" %}
    {% assign page_class = page.class %}
  {% else %}
    {% assign page_class = page_class | append: " " | append: page.class %}
  {% endif %}
{% endif %}

<!-- Body -->
{% if page_class != "" %}
  <body class="{{ page_class }} loading" onload="document.body.classList.add('loaded')" onerror="document.body.classList.add('loaded')">
{% else %}
  <body class="loading" onload="document.body.classList.add('loaded')" onerror="document.body.classList.add('loaded')">
{% endif %}

{% include header.html %}
{{ content | strip }}
{% include footer.html %}

<!-- JavaScript code placed at the end of the document so the pages load faster -->
<script>
  window.setTimeout(function() {
    var element = document.querySelector('body');
    element.classList.add('loaded');
  }, 2000);
</script>

<script src="{{ "/js/scripts.js" | prepend: site.baseurl }}"></script>

<!-- Google Analytics -->
{% if site.development == false and site.google_analytics_tracking_id and site.google_analytics_tracking_id != "" %}
  {% include google-analytics.html %}
{% endif %}

</body>
</html>
